.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    height: 100vh;
}

.cadastro__title {
    margin-bottom: 50px;
    font-family: 'Cantarella', sans-serif;
}

.cadastro__form{
    display: flex;
    flex-direction: column;

    width: 30%;
    gap: 20px;
}


