@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{
  min-width: 100%;
  min-height: 100vh;
  
}

.main{
  padding: 30px;
  min-width: 100%;
  min-height: 100vh;
  background-color: #312E37;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  gap: 50px;

}