.header {
    background-color: #28272F;

    


    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title{
    font-family: 'Cantarell', sans-serif;
    color: #767A85;
}